/*https://www.w3schools.com/howto/howto_js_collapsible.asp
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(70, 70, 70);
  color: rgb(230, 230, 230);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: rgb(53, 53, 53);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #535353;
  color: #eee;
}
body {
  background-color: #444444;
}

#outer {
  background-color: green; /* for visualization purposes */
  text-align: center;
}
#inner {
  background-color: red; /* for visualization purposes */
  display: inline-block;
}
h1,
h3,
h4 {
  font-weight: bold;
}

.button {
  background-color: #a3a3a3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
